/* btns */

.edit_btn{
  background-color: #fff;
  padding: 1.1rem .8rem;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: coral;
  color: #fff;
    font-weight: bold;
    border-radius: 50px;
}