/* global */

* {
  margin: 0px;
  padding: 0px;
  font-family: mont regular, sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

/* index */

/* body */

.container {
  width: 70vw;
  height: 70vh;
  margin: auto;
  margin-top: 15vh;
}

/* white space */

.whitespace {
  padding-top: 113px;
  width: 70vw;
  background-color: #fff;
  position: fixed;
  z-index: 2;
}

.top_whitespace {
  position: fixed;
  padding: 7.5vh;
  width: 100%;
  background-color: #fff;
  z-index: 4;
  top: 0px;
}

.bottom_whitespace {
  position: fixed;
  padding: 7vh;
  background-color: #fff;
  border-top: 0.5rem solid #eee;
  z-index: 4;
  bottom: 0px;
  left: 15vw;
  right: 15vw;
}

/* headline */

.head_line {
  display: grid;
  grid-template-columns: 35px 5fr 35px;
  width: 70vw;
  margin: auto;
  padding: 1rem 0rem;
  background-color: coral;
  position: fixed;
  z-index: 2;
}

.head_line p {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

/* section */

.section {
  width: 70vw;
  height: 70vh;
  margin: auto;
  background-color: #eee;
  position: fixed;
  z-index: -2;
}

/* navbar */

.links {
  width: 70vw;
  margin: auto;
  margin-top: 70px;
  display: grid;
  align-items: center;
  align-self: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid coral;
  position: fixed;
  z-index: 2;
}

.links div {
  display: grid;
  justify-content: center;
}

/* post */

.post_whitespace {
  padding-top: 120px;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1rem 0rem;
  background-color: #fff;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.posts div {
  display: grid;
  justify-content: center;
  align-items: center;
}

.goals {
  text-align: justify;
  padding: 0rem 0.5rem;
  line-height: 1.5rem;
  border-left: 1px solid #000;
  font-size: 1rem;
}

.date {
  font-size: 0.7rem;
  text-align: center;
}

/* btns */

.complete_btn {
  background-color: #fff;
  padding: 1.3rem 0.5rem;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: coral;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  font-size: 0.7rem;
  text-align: center;
}
